.App_component {
    display: flex;
}

.body {
    width: 100vw;
    height: 100vh;
    background-color: antiquewhite;
}

.main_div {
    margin-left: 30px;
}

.para_width {
    width: 70%;
}

.alert_view {
    width: 300px;
    height: 40px;
    
}