.sidebar{
    width: 280px;
    height: 100vh;
    border: 1px solid black;
    float: left;
    margin-top: auto;
    position: relative 
}

.sidebar li{
    list-style: none;
    margin-top: 10px;
}
.sidebar h3{
    margin-left: 20px;
}
.link{
    color: black;
    text-decoration: none;
    font-weight:500;
    font-size: large;
    margin: 10px 0px 5px 20px;

}
.link:hover{
    text-decoration: underline;
}